<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.diploma_project.mapper.ShoppingcartMapper">

    <resultMap id="BaseResultMap" type="com.wei.diploma_project.bean.ShoppingcartBean">
            <id property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="gid" column="gid" jdbcType="INTEGER"/>
            <result property="gpurchaseNumber" column="gpurchase_number" jdbcType="INTEGER"/>
            <result property="gstatus" column="gstatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid,uid,gid,
        gpurchase_number, gstatus
    </sql>

    <!-- 购物车 添加商品 -->
    <insert id="addShoppingCart" parameterType="com.wei.diploma_project.bean.ShoppingcartBean">
        INSERT INTO
        shoppingcart (uid,gid,gpurchase_number, gstatus)
        VALUES (#{uid}, #{gid}, #{gpurchaseNumber}, #{gstatus});
    </insert>
    <!-- 更新 -->
    <update id="updateShoppingCart" parameterType="ShoppingcartBean">
        UPDATE shoppingcart
        SET gpurchase_number = #{gpurchaseNumber}
        WHERE cid = #{cid} ;
    </update>
    <!-- 调整 购物车商品购买数量 -->
    <update id="updateCartGoodNumber">
        UPDATE shoppingcart
        SET gpurchase_number = #{purchaseNumber}
        WHERE cid = #{cid}
    </update>
    <!-- 删除某购物车项 -->
    <delete id="deleteCartByCid">
        DELETE FROM shoppingcart
        WHERE cid = #{cid};
    </delete>
    <!-- 查所有 -->
    <select id="getShoppingCartListByUID" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM shoppingcart
        WHERE uid = #{uid}
    </select>
    <!-- 查单个 -->
    <select id="searchIsExist" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM shoppingcart
        WHERE gid = #{gid}
    </select>

</mapper>
